snapshot_gallery/
*.psd
*.pyc
LGA_HieroTools/LGA_NKS_Flow_Users.json
+exclude.lst
*.log
__pycache__/
+OLD/
Building_Blocks/
#z_*.py
.DS_Store
Thumbs.db
ReviewPic_Cache/
ShotThumbs_Cache/
EditorConfig.json
CLAUDE.md
LGA_HieroTools/LGA_NKS_Shared/FFmpeg_Win/
.cursor/
.claude/
